h2 {
    width:500px;
    margin-left: 400px;
    font-family: segoe ui;
}
h4 {
    width: 400px;
    margin-left: 450px;
}
hr {
    width: 400px;
    margin-left: 450px;
}
img {
    width: 400px;
    margin-left: 450px;
}